/* GLOBAL CSS */

/* FIND ATTRIBUTE
  HEADER  
    MAIN CONTENT
      SECTION INPUT
      SECTION SEARCH
      SECTION BOOKSHELF
    MAIN CONTENT
*/
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap");

:root {
  /* https://colorhunt.co/palette/000000f58840b85252eadede */
  --primary-color: #f58840;
  --secondary-color: white;
  --third-color: #3d3d3d;
  --fourth-color: #b85252;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Maven Pro", sans-serif;
}
h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 5px;
}
h3 {
  color: var(--third-color);
  font-weight: bold;
}
p {
  color: var(--primary-color);
}

/* GLOBAL CSS */

/* HEADER  */
header {
  padding: 10px;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
/* HEADER  */

/* MAIN CONTENT  */
main {
  max-width: 1440px;
  width: 80%;
  margin: 20px auto;
  padding: 0 20px;
  border-radius: 15px;
  border: 2px solid var(--primary-color);
}

/* SECTION INPUT  */
.input_section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
}
.input_section > form > .input {
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input_section > form > button {
  width: 100%;
  padding: 10px 0;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.input_section > form > button > span {
  font-weight: bolder;
  font-size: 14px;
}
.input_section > form > .input > input {
  width: 85%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
.input_section > form > .input > label {
  color: var(--primary-color);
  font-weight: bolder;
}
.input_section > form > .inputStatusBook {
  margin: 15px 0 5px 0;
  display: flex;
  align-items: center;
}
.input_section > form > .inputStatusBook > label {
  color: var(--primary-color);
  font-weight: bolder;
  margin-right: 10px;
}
/* SECTION INPUT  */

/* SECTION SEARCH  */
.search_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 20px 0 0 0;
}
.search_section > form {
  margin: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.search_section > form > input {
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.8;
}
.search_section > form > button {
  color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.btn-search {
  background-color: var(--primary-color);
  padding: 0 30px;
  margin: 0 5px;
}
.btn-reset {
  background-color: var(--fourth-color);
  padding: 0 15px;
}
/* SECTION SEARCH  */

/* SECTION BOOKSHELF  */
.bookshelf_section {
  display: flex;
}
.bookshelf-incomplete,
.bookshelf-complete {
  margin: 20px 40px;
  padding: 15px 15px 30px;
  border-radius: 10px;
  width: 50%;
}
.book_list .book-item {
  line-height: 25px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
}
.btn-wrapper {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 32%;
  padding: 10px 5px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}
.btn-check {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.btn-edit {
  background-color: var(--third-color);
  color: var(--secondary-color);
}
.btn-delete {
  background-color: var(--fourth-color);
  color: var(--secondary-color);
}
.btn-uncheck {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
/* SECTION BOOKSHELF  */

/* ---Modal Edit--- */
.btn-submit,
.btn-cancel {
  width: 45%;
  padding: 10px 5px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  color: var(--secondary-color);
}
.btn-submit {
  background-color: var(--third-color);
}
.btn-cancel {
  background-color: var(--fourth-color);
}
.modal_section {
  display: none;
  position: fixed;
  padding-top: 10%;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Modal Content */
.modal-editbook {
  position: relative;
  background-color: white;
  max-width: 600px;
  margin: auto;
  padding: 10px 50px;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
}

.col-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row-edit {
  width: 85%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
/* ---Modal Edit--- */
